<script>
    import Comp1 from "./comps/comp1.svelte";
	import Comp2 from "./comps/comp2.svelte"
	export let name;
</script>

<main>
	<Comp1/>
	<Comp2/>
</main>

<style>
	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}

	h1 {
		color: #3994e9;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>